python-dateutil>=2.6.0
Werkzeug>=0.14,<1.0.0
jinja2>=2.11.3
requests<3,>=2.20.0
click<8,>=6.7
marshmallow<2.20,>=2.18.0
six>=1.11.0
Flask>=1.0
apache-airflow
beautifulsoup4 
bs4
frozendict
geopy
ipython
kafka-python
matplotlib
py4j
pyelasticsearch
pymongo
scipy
selenium
sklearn
tabulate
tldextract
wikipedia
findspark
iso8601
notebook>=5.7.8
wtforms>=3.0.0a1 # not directly required, pinned by Snyk to avoid a vulnerability
scikit-learn>=0.24.2 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=3.3.2 # not directly required, pinned by Snyk to avoid a vulnerability
flask-appbuilder>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability
